body {
  display: flex;
  align-items: start;
  justify-content: center;
}

form {
  height: 88vh;
  width: 100%;
}

#your-name {
  font-weight: bolder;
  border: none;
  text-align: right;
  border-radius: 50px;
  width: 30vw;
  padding: 4px 16px 6px 0;
}

#your-name:focus{
  outline: none;
}

#messages {
  padding: 8px 0;
  flex-grow: 1;
  min-width: 330px;
  overflow-y: scroll;
  background: lightgray;
}

#chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 12px;
  border-bottom: 2px solid black;
}

#chatroom {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#messages::-webkit-scrollbar {
  display: none;
}

.bubble-left {
  border-radius: 12px 12px 12px 0;
  box-shadow: 0 0 12px rgba(0, 0, 0, .1);
  margin-left: 12px;
}

.bubble-right {
  border-radius: 12px 12px 0 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, .1);
  margin-right: 12px;
}

#msg-container {
  padding: 12px;
  border-top: 2px solid black;
  background-color: white;
}

#your-message {
  width: 100%;
}

h1, p, input {
  padding: 0;
  margin: 0;
}

.avatar > img{
  width: 40px;
  height: 40px;
  border-radius: 50px;
  margin-right: 12px;
}

@media (min-height:540px) {
  form {
    height: 93vh;
  }
}

@media (min-width:1280px) {
  form {
    height: 100vh;
    width: 40%;
  }
}
