body {
  position: relative;
  display: flex;
  align-items: start;
  justify-content: center;
  /* background-color: lightgray; */
  height: 100vh;
  width: 100vw;
}

#bg {
  z-index: -1;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 300% 300%;
  background-image: linear-gradient(
        -45deg,
        rgba(59,173,227,1) 0%,
        rgba(87,111,230,1) 25%,
        rgba(152,68,183,1) 51%,
        rgba(255,53,127,1) 100%
  );
  animation: AnimateBG 120s ease infinite;
}

@keyframes AnimateBG {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

form {
  height: 100%;
  width: 100%;
  min-width: 330px;
}

#your-name {
  font-weight: bolder;
  width: 150px;
  border: none;
  text-align: right;
  color: white;
  padding-right: 12px;
  background: none;
}

#hash {
  font-weight: bolder;
  font-size: 2rem;
  padding-left: 8px;
  color: white;
  border: none;
}

#your-name:focus {
  outline: none;
}

#channel:focus {
  outline: none;
}

#messages {
  padding: 12px 0;
  flex-grow: 1;
  min-width: 330px;
  overflow-y: scroll;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3c3c3c;
  padding: 12px;
  border-radius: 0 0 12px 12px;
  transition-duration: .5s;
}

#chatroom {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#messages::-webkit-scrollbar {
  display: none;
}

.bubble-container-right {
  display: flex;
  justify-content: end;
}

.bubble-container-left {
  display: flex;
  justify-content: start;
}

.bubble {
  display: flex;
  align-items: start;
  box-shadow: 2px 2px 16px rgb(0 0 0 / 10%);
  width: fit-content;
  margin: 0 12px 12px;
  padding: 8px 16px;
  min-width: 15%;
  max-width: 80%;
}

.left {
  border-radius: 12px 12px 12px 0;
  background-color: #F5F5F5;
}

.left > .msg-container {
  margin-left: 12px;
}

.right {
  border-radius: 12px 12px 0 12px;
  background-color: #EEE3AB;
}

.msg-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
  border-bottom: solid 2px #2c8c993e
}

.msg-head > span {
  margin-left: 12px;
}

.msg-container:last-child {
  margin-bottom: .5em;
}

#msg-input-container {
  padding: 12px;
  border-radius: 12px 12px 0 0;
  background-color: white;
}

#your-message {
  width: 100%;
}

input, span {
  padding: 0;
  margin: 0;
}

.avatar > img{
  margin-top: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: solid 2px white;
  box-shadow: 2px 2px 16px rgb(0 0 0 / 20%);
}

/* @media (min-height:540px) {
  form {
    height: 93vh;
  }
} */

@media (min-width:330px) {
  form {
    width: 100%;
  }
  .chat-header {
    border-radius: 0;
  }
  #msg-input-container {
    border-radius: 0;
  }
  .initial-pos-head {
    border-radius: 0;
  }
}

@media (min-width:768px) {
  form {
    /* height: 100vh; */
    width: 80%;
  }

  .chat-header {
    border-radius: 0 0 12px 12px;
  }

  #msg-input-container {
    border-radius: 12px 12px 0 0;
  }
}

@media (min-width:992px) {
  form {
    /* height: 100vh; */
    width: 60%;
  }
}

@media (min-width:1280px) {
  form {
    /* height: 100vh; */
    width: 40%;
  }
}

#channel {
  font-weight: bolder;
  border: none;
  text-align: left;
  color: white;
  width: 100%;
  padding-left: 4px;
  padding-bottom: 3px;
  background: none;
  font-size: 2rem;
}

.red {
  background-color: #931621 !important;
  transition-duration: .5s;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: lightgray;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: lightgray;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: lightgray;
}

#channel-container {
  z-index: 1;
  display: flex;
}

.link {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: #2C8C99;
  transition-duration: .3s;
}

.link:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
  color: #28464B;
  padding: 0 8px 0 6px;
  border-radius: 50px;
  background: oldlace;
  transition-duration: 1s;
}

.msg-txt {
  line-height: 1.2;
  margin: 0;
}

.hide {
  display: none;
}

.name-container {
  display: flex;
  align-items: center;
}

.initial-pos-head {
  margin-top: 50%;
  border-radius: 12px;
}

.initial-pos-msg {
  display: flex;
  align-items: center;
  justify-content: center
}
